<include file="nav" />
<div class="nav">首页 &gt; 后台首页</div>
<div class="right_main">
<table width="100%" cellpadding="4" cellspacing="0" border="0" style="border-collapse:collapse">
    <tr><td width="100" height="28" align="left" colspan="2">
    <span class="green">当前程序版本：{$Mo.C.Blog.Version}</span> <span class="green">内核版本：{$CoreVersion}</span>
    </td></tr>
    <tr><td width="100" height="28" align="left" colspan="2">
    <span class="green">帮助文档：<a href="http://www.9fn.net/help/" target="_blank">http://www.9fn.net/help/</a></span>
    </td></tr>
    <tr><td width="100" height="28" align="left" colspan="2">
    <span class="green">更新日志：<a href="http://www.9fn.net/update.html" target="_blank">http://www.9fn.net/update.html</a></span>
    </td></tr>
    <tr><td width="100" height="28" align="left" colspan="2">
    <span class="green">QQ群：127430216（MoBlog内部交流）-依托于MoAspEnginer，本框架是群讨论重点；本群非ASP答疑群，见谅。</span>
    </td></tr>
    <tr><td width="100" height="28" align="left" colspan="2">
    <span class="green">本程序是个人兴趣开发，没有太多的说明文档，所有功能如后台所见，模板完全分离，标签化，非常容易理解和制作。</span>
    </td></tr>
</table>
</div>
<include file="foot" />