<include file="nav" />
<div class="nav">首页 &gt; <a href="{$$MO_ROOT}?m=admin&a=article">文章管理</a> &gt; 文章引用</div>
<div class="right_main_b">
<table width="100%" cellpadding="3" cellspacing="0" border="1" bordercolor="#a0b2d2">
<tr>
<th class="head" width="40" align="center"><input type="checkbox" value="0" onclick="F('input.loglist').check(this.checked);" /></th>
<th class="head" width="40">ID</th>
<th class="head">标题</th>
<th class="head">博客名称</th>
<th class="head">显示</th>
<th class="head">操作</th>
</tr>
<loop name="trackbacks">
<tr>
<td align="center"><input class="loglist" type="checkbox" value="{$trackbacks.id}" /></td>
<td align="center">{$trackbacks.id}</td>
<td><a href="{$trackbacks.url}" target="_blank">{$trackbacks.title}</a></td>
<td align="center">{$trackbacks.blog_name}</td>
<td align="center"><eq name="trackbacks.canshow" value="0">否</else>是</eq></td>
<td align="center">
<a href="{$$MO_ROOT}?m=admin&a=updatetrackbacks&id={$trackbacks.id}&artid={$Mo.Get.id}&page={$Mo.Get.page}"><eq name="trackbacks.canshow" value="0">允许显示</else>不允许显示</eq></a>
<a href="{$$MO_ROOT}?m=admin&a=deletetrackbacks&id={$trackbacks.id}&artid={$Mo.Get.id}&page={$Mo.Get.page}" onclick="return window.confirm('确定要删除本记录吗？');">删除</a></td>
</loop>
<tr><td colspan="6">
<input type="checkbox" value="0" onclick="F('input.loglist').check(this.checked);" /> <a href="javascript:void(0)" onclick="DeleteAll();">删除所选</a>
</td></tr>
</table>
<page for="trackbacks" />
</div>
<div id="dialog" title="" style="display:none"></div>
<script type="text/javascript">
function DeleteAll(){
	var val=[];
	F('input.loglist').each(function(){
		if(this.checked)val.push(this.value);					 
	});
	if(val.length<=0){
		F("#dialog").attr("title","删除引用").html("请先选择要删除的项目！").dialog({height:200,buttons:{"确定":function(){}}});return;
	}else{
		F("#dialog").attr("title","删除引用").html("确定要删除选中的操作记录吗？").dialog({height:200,buttons:{"删除所选":function(){
			window.location="{$$MO_ROOT}?m=admin&a=deletetrackbacks&artid={$Mo.Get.id}&id=" + val.join(",") +"&ref=" + encodeURIComponent(window.location.href);																	   
		},"取消":function(){}}});return;
	}
}
</script>
<include file="foot" />